#show-order {
  display: none;
}
.container {
  color: #7E0000;
}
.pizza {
  cursor: pointer;
  color: #7E0000;
}
.pizza:hover {
  text-decoration: underline;
}
.title{
  text-align: center;
  font-style: italic;
  font-size: 60px;
}
body {
  background-image: url("../img/pizza3.png");
}
.quote{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}
.fun{
  font-size: 25px;
  font-family: cursive;
}
#show-order{
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
#price{
  border-style: solid;
  border-width: 1px;
}
.delete{
  cursor: pointer;
  color: red;
}
